body{
    background-color: beige;
    color: #fff;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#container{
    width: 990px;
    max-width: 1000px;
    margin: 10px 10px;
    padding: 10px 10px;
    background-color: darkslategray;
}

#post{
    width: 100%;
    background-color: dimgrey;
    padding: 8px 0;
}

h1{
    text-transform: uppercase;
}