body{
    background-color: beige;
    color: #fff;
    text-align: center;
    font-family: Arial;
}

#container{
    width: 990px;
    max-width: 1000px;
    margin: 10px 10px;
    padding: 10px 10px;
    background-color: darkslategray;
}

#post{
    width: 100%;
    background-color: dimgrey;
    padding: 8px 0;
}

#cabecera{
    background-color: lightsalmon;
    padding: 7px;
    font-size: 24px;
    box-shadow: 0px 2px 20px 0px #fe4918;
}

#cabecera span{
    color: #fff;
    font-size: 16px;
    margin-left: 10px;
}

h1{
    text-transform: uppercase;
}